body {
    padding-top: 10px;
}

input[type="range"] {
    padding-bottom: 5px;
    padding-top: 5px;
}

.row {
    margin-bottom: 20px;
}

.dividend-block {
    position: relative;
}

.dividend {
    text-align: center;
}

.result-overlay {
    background: rgba(256, 256, 256, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 1;
    transition: opacity 0.7s ease;
}

.result-overlay.not-shown {
    opacity: 0;
    pointer-events: none;
}

.result-overlay h2 {
    padding-top: 2em;
    font-weight: bold;
}

@media (min-width: 768px) {

    /*
     * For some reason the input box is touching the button without this.
     * I am not sure what is the difference between the example: http://getbootstrap.com/css/#forms-inline
     * As far as I can tell all the classes and the structure are correct and also when inspecting
     * I don't see any paddings on margins on the inputs and buttons, but they are still a little bit apart from each other.
     */
    #result {
        margin-left: 10px;
        margin-right: 10px;
    }

}
